.DS_Store
*.swp
*.swo
*.pid.lock
config/database.yml
config/application.yml
config/settings.yml
config/dde_connection.yml
notes
doc
development_structure.sql
schema.rb
*~
mockups
rerun.txt
nbproject
Gemfile.lock
.ruby-version
tmp/