<script type="text/javascript" language="javascript">
  //var tt_cancel_destination = "/patients/show?patient_id=<%= @patient.patient_id %>"
  var tt_cancel_destination = "/patients/investigations_dashboard/<%= @patient.patient_id %>"
</script>
<style type="text/css" media="screen">
  #space { display:inline; font-size:1.2em; }
  form{
    display: block!important;
}
</style>

  <form id='lab_tests' action="/encounters/created_nested_lab_orders" method='post'>
    <% default={
      :allowFreeText => 'false',
    } %>

    <%= hidden_field_tag "encounter[encounter_type_name]", "LAB ORDERS" %>
    <%= hidden_field_tag "encounter[patient_id]", @patient.id %>
    <%= hidden_field_tag "encounter[encounter_datetime]", DateTime.now() %>
    <%= hidden_field_tag "encounter[provider_id]", current_user.person_id %>

    <%= hidden_field_tag "patient_identifier[patient_id]", @patient.id %>
    <%= hidden_field_tag "patient_identifier[identifier_type_name]", "LAB IDENTIFIER" %>
    <%= hidden_field_tag "patient_identifier[lab_id]", "LAB" %>
    <% unless (@from_file) %>
        <select style="width: 100%" id="multiple" class="multi" name="lab_orders[]" helptext="Select Lab orders" multiple="multiple" nested="true">
          <option></option>

          <optgroup id="liver_test" label="Liver functional tests">
            <% @liver_tests .each do |test| %>
              <option id="<%=test[0].squish%>" value="Liver functional tests:<%= test[0].squish %>"><%= test[0].squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="renal_test" label="Renal functional tests">
            <% @renal_tests .each do |test| %>
              <option id="<%=test[0].squish%>" value="Renal functional tests:<%= test[0].squish %>"><%= test[0].squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="lipids" label="Lipid profile">
            <% @lipid_tests .each do |test| %>
              <option id="<%=test[0].squish%>" value="Lipid profile:<%= test[0].squish %>"><%= test[0].squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="minerals" label="Minerals">
            <% @minerals .each do |test| %>
              <option id="<%=test[0].squish%>" value="Minerals:<%= test[0].squish %>"><%= test[0].squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="enzymes" label="Enzymes">
            <% @enzymes .each do |test| %>
              <option id="<%=test[0].squish%>" value="Enzymes:<%= test[0].squish %>"><%= test[0].squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="hormones" label="Hormones">
            <% @hormones .each do |test| %>
              <option id="<%=test[0].squish%>" value="Hormones:<%= test[0].squish %>"><%= test[0].squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="fbc" label="Full blood count">
            <% @fbc .each do |test| %>
              <option id="<%=test[0].squish%>" value="Full blood count:<%= test[0].squish %>"><%= test[0].squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="urinalysis" label="Urinalysis">
            <% @urinalysis .each do |test| %>
              <option id="<%=test.squish%>" value="Urinalysis:<%= test[0].squish %>"><%= test[0].squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="csf" label="CSF analysis">
            <% @csf .each do |test| %>
              <option id="<%=test[0].squish%>" value="CSF analysis:<%= test[0].squish %>"><%= test[0].squish %></option>
            <% end %>
          </optgroup>

          <% @other_tests .each do |test| %>
              <option id="<%=test.squish%>" value="<%= test.squish %>"><%= test.squish%></option>
            <% end %>
        </select>
    <% else %>

    <select style="width: 100%" id="multiple" class="multi" name="lab_orders[]" helptext="Select Lab orders" multiple="multiple" nested="true">
          <option></option>

          <optgroup id="blood_test" label="Blood Tests">
            <% @blood.each do |test| %>
              <option id="<%=test.squish%>" value="Blood:<%= test.squish %>"><%= test.squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="csf_test" label="CSF">
            <% @csf.each do |test| %>
              <option id="<%=test.squish%>" value="CSF:<%= test.squish %>"><%= test.squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="urine_test" label="Urine">
            <% @urine.each do |test| %>
              <option id="<%=test.squish%>" value="Urine:<%= tes.squisht %>"><%= test.squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="aspirate_test" label="Aspirate">
            <% @aspirate.each do |test| %>
              <option id="<%=test.squish%>" value="Full aspirate analysis:<%= test.squish %>"><%= test.squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="sputum" label="Sputum">
            <% @sputum.each do |test| %>
              <option id="<%=test.squish%>" value="Sputum:<%= test.squish %>"><%= test.squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="stool" label="Stool">
            <% @stool.each do |test| %>
              <option id="<%=test.squish%>" value="Stool exam:<%= test.squish %>"><%= test.squish %></option>
            <% end %>
          </optgroup>

          <optgroup id="fbc" label="Swab">
            <% @swab.each do |test| %>
              <option id="<%=test.squish%>" value="Swab sample:<%= test.squish %>"><%= test.squish %></option>
            <% end %>
          </optgroup>

        </select>

    <% end %>
    
    <% if @retrospective %>
            <p><label for="filter_provider">Staff who provided the information (Provider)</label></br>
            <%= text_field "filter" , 'provider', :helpText => 'Staff who provided the information (Provider)', :ajaxURL => '/user/username?username=' %></p>
    <% else %>
            <%= hidden_field_tag "filter[provider]", nil %>
    <% end %>

    <%= submit_tag "Finish" %>
  </form>
