production:
 encounter_privilege_map: Procedures done:Manage procedures done,Outpatient diagnosis:Manage outpatient diagnoses,Update hiv status:Manage HIV Status Visits,Vitals:Manage Vitals,Give drugs:Manage Give Drugs,Lab orders:Manage Lab Orders, Admit patient:Manage Patient Admissions,Discharge patient:Manage Patient Discharges,Social history:Manage Social History
 application_diagnosis_concept: Qech outpatient diagnosis list
 application_generic_medication: OPD Medication
 use.filing.number: false
 filing.number.limit: 300
 show.patient.confirmation: false
 create_from_remote: false
 use.user.selected.activities: false
 advanced.prescription.interface: true
 auto_set_appointment: false
 is_referral_centre: true
 ipd.wards.tag: Ward
 show.enroll.in.program.button: false
 show.dispense.button: false
 logo: mw.gif

development:
 encounter_privilege_map: Procedures done:Manage procedures done,Outpatient diagnosis:Manage outpatient diagnoses,Update hiv status:Manage HIV Status Visits,Vitals:Manage Vitals,Give drugs:Manage Give Drugs,Lab orders:Manage Lab Orders,Symptoms:Manage Symptoms,Social history:Manage Social History, Admit patient:Manage Patient Admissions,Discharge patient:Manage Patient Discharges
 application_diagnosis_concept: Qech outpatient diagnosis list
 application_generic_medication: OPD Medication
 use.filing.number: false
 filing.number.limit: 300
 show.patient.confirmation: false
 create_from_remote: false
 use.user.selected.activities: false
 advanced.prescription.interface: true
 auto_set_appointment: false
 is_referral_centre: true
 ipd.wards.tag: Ward
 show.enroll.in.program.button: false
 show.dispense.button: false
 logo: mw.gif
test: &TEST
 create_from_remote: no
 use.user.selected.activities: yes

cucumber:
  <<: *TEST
