production:
  adapter: mysql
  database: openmrs
  username: user
  password: password
  host: localhost

development:
  adapter: mysql
  database: openmrs
  username: user
  password: password
  host: localhost

test: &TEST
  adapter: mysql
  database: openmrs
  username: user
  password: password
  host: localhost

cucumber:
  <<: *TEST

migration:
  adapter: mysql
  database: test
  username: root
  password: password
  host: localhost

