<html>
  <head>
    <title></title>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "prototype" %>
    <style>
      div{
      -moz-user-select: none;
      }

      .patient_info{
        position: absolute;
        left: 13%;
        top: 22px;
      }
      .admission_history{
        overflow: auto;
        position: absolute;
        left:2%;
        width: 94%;
        height: 480px;
      }
    </style>
    <script>
      var tt_cancel_destination = "/patients/programs_dashboard/<%=@patient.id%>"
      function addPrintButton(){
        //buttons = document.getElementById('buttons')
        //buttons.innerHTML+='<button id="print" onclick="printAdmissionHistory();" class="blue left" style="position :relative;"><span>Print</span></button>'
      }
      //window.setTimeout("addPrintButton()",300)

      function printAdmissionHistory(){
      jQuery.ajax({
                    type: "POST",
                    url: "/patients/print_admission_history",
                    data: "patient_id="+<%= params[:id]  %>,
                    success: function(){
                            alert("Successful")
                    }

            });
        
      }

     function setPosition(){
    finish = document.getElementById('finishButton')
    finish.style.position = 'absolute'
    finish.style.left = document.getElementById('footer').offsetWidth -  2000 + 'px'
  }
  //setTimeout("setPosition()",10);
    </script>
  </head>
  <body>

    <%=image_tag(@logo)%>
    <div class="patient_info">
      National ID : <b><%= @patient_bean.national_id_with_dashes %></b><br />
      Patient Name : <b><%= @patient_bean.name.titlecase %></b><br />
      Date of Birth: <b><%= @patient_bean.birth_date %></b><br />
      Age: <b><%= @patient_bean.age %></b><br />
      Gender: <b><%= @patient_bean.sex %></b><br />
      Admission Date: <b><%= @date_enrolled.strftime("%A, %d/%B/%Y")%></b><br />
    </div><br /><br />

    <div class="admission_history">
      <table width="100%">
        <thead>
          <tr style="background-color:#EEE8AA; line-height: 26px;">
            <th style="text-align: left">Date</th>
            <th style="text-align: left">Encounter</th>
            <th style="text-align: left">Details</th>
            <th style="text-align: left">Provider</th>
          </tr>
        </thead>
        <tbody>
          <% @admission_history.each do |key, value| %>
          <tr>
            <td> <%= value["encounter_datetime"].strftime("%d/%m/%Y (%H:%M:%S)") %></td>
            <td> <%= value["encounter_type"] %></td>
            <td> <%= value["answer_string"] %></td>
            <td> <%= value["provider_details"] %></td>
          </tr>
          <tr><td colspan = 4><hr/></td></tr>
          <% end %>

        </tbody>
      </table>
    </div>

  </body>
</html>

