<html>
  <head>
    <title>Patient Dashboard</title>
    <script type="text/javascript" language="javascript"
    src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  ></script>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <script language="javascript">
      tstUsername = "";
      tstCurrentDate = "<%= @date %>";
      //tt_cancel_destination = '/clinic';
      tt_cancel_show = '/clinic';
    </script>
    <style>
      #tab7 {
        background-color: white;
        border: 0 none;
        color: black;
        font-weight: bold;
      }
    </style>
  </head>
  <body><div id='content'>
      <div id='description' style='color:#777;position:absolute;margin-top:-70px;'></div><center>
        <form id = 'dashboard' action='/clinic'>
          <table cellpadding=10>
            <tr>
              <th colspan=2>Patient Dashboard</th>
            </tr>
            <h1 id='project_name'>
                 IPD
            </h1>
            <span id='patient_name'><%= @patient_bean.name rescue "" %></span>
            <span id='patient_id'><%= @patient_bean.national_id_with_dashes rescue "" %></span>
            <span id='patient_residence'><%= @patient_bean.current_residence rescue "" %></span>
            <span id='patient_age'><%= @patient_bean.age rescue "" %></span>
            <span id='patient_gender'><%= @patient_bean.sex rescue "" %></span>

            <div id="patient_card">
              <% if (@reason_for_art_eligibility rescue nil) != nil && (@reason_for_art_eligibility) != "" %>
                <span value="<%= @reason_for_art_eligibility rescue "" %>">Reason for Starting</span>
              <% end %>
              <% if (@hiv_status rescue nil) != nil && (@hiv_status) != "" %>
                <span value="<%= @hiv_status rescue "" %>">HIV Status</span>
              <% end %>
              <% if (@arv_number rescue nil) != nil && (@arv_number) != " " %>
                <span value="<%= @arv_number rescue "" %>">ARV Number</span>
              <% end %>
              <% if (@patient_bean.eid_number rescue nil) != nil && (@patient_bean.eid_number) != " " %>
                <span value="<%= @patient_bean.eid_number rescue "" %>">EID Number</span>
              <% end %>
              <% if (@patient_bean.filing_number rescue nil) != nil && (@patient_bean.filing_number) != " " %>
                <span value="<%= @patient_bean.filing_number rescue "" %>">Filing Number</span>
              <% end %>
              <% if (@patient_bean.pre_art_number rescue nil) != nil && (@patient_bean.pre_art_number) != " " %>
                <span value="<%= @patient_bean.pre_art_number rescue "" %>">Pre-ART Number</span>
              <% end 
                 session_date = session[:datetime].to_date rescue Date.today
                 task = @task
                 task_name = (task.encounter_type || 'NONE').upcase rescue 'NONE'
              %>
            </div>

            <select id="tabs">
							<option value='/patients/overview?patient_id=<%= @patient.id %>'>Overview</option>
							<option value='/patients/visit_history?patient_id=<%= @patient.id %>'>Current Visit</option>
							<option value='/patients/past_visits_summary?patient_id=<%= @patient.id %>'>Past Visits</option>
							<option value="/patients/past_diagnoses?patient_id=<%=@patient.patient_id%>">Medical History</option>
							<option value='/patients/personal/<%= @patient.id -%>'>Printouts/Other</option>

							<%  if @spine_clinician  %>
								<option value="/patients/influenza_info?patient_id=<%=@patient.patient_id%>"> Influenza </option>
								<option value="/patients/chronic_conditions_info?patient_id=<%=@patient.patient_id%>"> Chronic Diseases</option>
							<% end %>					
							<option value="/patients/hiv?patient_id=<%=@patient.patient_id%>"> HIV Status</option>
						</select>
						
				    <select id="links">
							<!-- option value='/encounters/new/outpatient_diagnosis?diagnosis_type=PRIMARY DIAGNOSIS&patient_id=<%= @patient.id -%>&diagnosis=true'>
							<%= (@category.downcase == "adults" ? "Emergency" : "OPD" rescue 'Emergency') %> Diagnosis</option -->
							<option value='/patients/treatment_dashboard/<%= @patient.id -%>'>Treatment</option>
							<option value='/encounters/new/admit_patient?patient_id=<%= @patient.id -%>'>Update Outcome</option>

								<option value='/patients/influenza?patient_id=<%= @patient.id -%>'>Influenza data</option>
								<option value='/patients/chronic_conditions?patient_id=<%= @patient.id -%>'>Chronic Conditions</option> 

         </select>

        <% if @patient.person.dead == 1%>
          <select id="links">
            <option value='/patients/programs_dashboard/<%= @patient.id -%>'>Outcomes</option>
          </select>
          <select id="navigation_links">
            <option link="/patients/mastercard_menu?patient_id=<%= @patient.id -%>&source=<%= @source -%>">Mastercard</option>
            <option link='<%= ((session[:datetime].to_date rescue '') != '' ?
                        "/people/reset_datetime/#{@patient.id}" : "/people/set_datetime/#{@patient.id}") %>'  ttSize="160px">
              <%= ((session[:datetime].to_date rescue '') != '' ? "Reset Date" : "Set Date") %></option>
            </select>
         <% else %>
            <select id="links">
              <option value='/patients/treatment_dashboard/<%= @patient.id -%>'>Treatment</option>
              <option value='/patients/guardians_dashboard/<%= @patient.id -%>'>Guardians</option>
              <!--%if User.current_user.activities.include?('Manage Patient Programs')%-->
                <option value='/patients/programs_dashboard/<%= @patient.id -%>'>Outcomes</option>
              <!--%end%-->
              <option value='/patients/show/<%= @patient.id -%>?source=opd'>IPD</option>
            </select>
            <select id="navigation_links">
                <option link="/encounter_types?patient_id=<%= @patient.id -%>" ttSize = "160px">Tasks</option>
              <!-- option link="/patients/mastercard_menu?patient_id=<%= @patient.id -%>&source=<%= @source -%>">Mastercard</option -->
              <% if show_lab_results %>
                <option link="/lab/results/<%=@patient.id -%>">Lab results</option>
              <%end%>
                <option link='<%= ((session[:datetime].to_date rescue '') != '' ?
                      "/people/reset_datetime/#{@patient.id}" : "/people/set_datetime/#{@patient.id}") %>'  ttSize="160px">
                 <%= ((session[:datetime].to_date rescue '') != '' ? "Reset Date" : "Set Date") %></option>
						<option link='/patients/edit_demographics?patient_id=<%= @patient.id -%>'>Edit Demographics</option>
            </select>
         <% end %>
            <tr>
              <td align='center'>
                <input type='submit' value='Finish' />
              </td>
            </tr>
          </table>
        </form>
      </center>
    </div>
  </body>
</html>

