
<html>
  <head>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag 'extra_buttons' %>
    <%= javascript_include_tag 'jquery_data_table.js' %>
    <%= stylesheet_link_tag 'jquery.dataTables' %>
    <%=javascript_include_tag "jquery.table2CSV.min" %>
    <script type="text/javascript" charset="utf8" src="/javascripts/jquery.dataTables.min.js"></script>
    <script>
      var tt_cancel_destination = "/clinic"
      jQuery(document).ready(function($) {
          $('#table_id').dataTable({
            "bAutoWidth": true,
            "bProcessing": true,
            "sScrollY": "400px",
            "bInfo": true,
            "bPaginate": false
          });
    search_box = $('#report').dataTable()
    search = document.getElementsByTagName("input")[0];
    search.setAttribute("id","search");
    document.getElementById('search').setAttribute("onclick","showKeyboard();");
    document.getElementById("find").innerHTML = "<span>Back</span>";
    document.getElementById("find").style.cssFloat = "left";
    //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    keyboard = document.getElementsByClassName("keypad")[0]
    function getCharButtonSetID(character,id){
      return '<button onMouseDown="press(\''+character+'\');" class="keyboardButton" id="'+id+'">' +"<span style='width:32px'>"+character+"</span>"+ "</button>";
    }
    function getButtonString(id,string){
      return "<button \
                            onMouseDown='press(this.id);' \
                            class='keyboardButton' \
                            id='"+id+"'>"+
        string +
        "</button>";
    }

    function getButtons(chars){
      var buttonLine = "";
      for(var i=0; i<chars.length; i++){
        character = chars.substring(i,i+1)
        buttonLine += getCharButtonSetID(character,character)
      }
      return buttonLine;
    }

    showAlphaKeypad();

    function showAlphaKeypad(){
      document.getElementById("keypad").style.height = "280";
      keyboard.innerHTML= getButtons("0123456789") + "</br>"
      keyboard.innerHTML+= getButtons("QWERTYUIOP") + "</br>"
      keyboard.innerHTML+= getButtons("ASDFGHJKL:") + "</br>"
      keyboard.innerHTML+= getButtons("ZXCVBNM,.?")
      keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
      keyboard.innerHTML+= getButtonString('Space','<span>Space</span>')
      keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
    }

    function showNumericKeypad(){
      document.getElementById("keypad").style.height = "145";
      keyboard.innerHTML = getButtons("123")
      keyboard.innerHTML+= getButtons("456")
      keyboard.innerHTML+= getButtons("7890")
      keyboard.innerHTML+= getButtonString('space','<span>Space</span>')
      keyboard.innerHTML+= getButtonString('clear','<span>Clear</span>')
      keyboard.innerHTML+= getButtonString('backspace','<span>Bksp</span>')
      keyboard.innerHTML+= getButtonString('abc','<span>abc</span>')
      keyboard.innerHTML+= getButtonString('dash','<span>-</span>')
      keyboard.innerHTML+= getButtonString('slash','<span>/</span>')
    }

    data_table_length =document.getElementsByName('table_id_length')[0];
    data_table_length.setAttribute("style","font-size:20px;");

    table_length = document.getElementById("table_id_length");
    table_length.setAttribute("style","width:100px;");

  })
    </script>

    <script>

      function showKeyboard(){
        key = document.getElementById("keypad")
        if(key.style.display == 'none' || key.style.display == ""){
          key.style.display = "inline";
          return
        }

        key.style.display = "none";
      }

      function press(pressedChar){
        switch (pressedChar) {
          case 'backspace':
            search.value = search.value.substring(0,search.value.length-1);
            search_box.fnFilter(search.value)
            return;
          case 'Space':
            search.value+= " "
            search_box.fnFilter(search.value)
            return
          case 'clear':
            search.value = ""
            search_box.fnFilter(search.value)
            return
          case 'num':
            showNumericKeypad();
            return
          case 'slash':
            search.value+= "/"
            search_box.fnFilter(search.value)
            return
          case 'dash':
            search.value+= "-"
            search_box.fnFilter(search.value)
            return
          case 'abc':
            showAlphaKeypad();
            return
        }
        search.value+= pressedChar
        search_box.fnFilter(search.value)
      }
      //xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </script>

    <style>

      #backspace{
        position:absolute;
        left:100px;
        bottom:2px;
      }

      #Space{
        position:absolute;
        left:220px;
        bottom:2px;
        width:200px;
      }

      #clear{
        position:absolute;
        left:470px;
        bottom:2px;
      }
       #num{
        position:absolute;
        left:470px;
        bottom:2px;
        width:200px;
      }
      #keypad{
        background-color: #FFFFFF;
        border: 2px solid #9999FF;
        border-radius: 15px 15px 15px 15px;
        display: none;
        height: 304px;
        padding: 5px;
        position: absolute;
        right: 13px;
        top: 194px;
        width: 672px;
      }
    </style>
    <style>
      div {
        -moz-user-select: none;
      }
      .basic_span {
        position:relative;
        width:50%;
        display:block;
        float:left;
      }

      .logo {
        float:left
      }

      #table_id {
        width: 100%;
      }

      #table_id_filter{
        position:absolute;
        top:0px;
        right:1%;
        margin-top:-40px;
      }

      #table_id_filter input{
        padding:0.5em;
      }


      .dataTables_length select {
        font-size: 25px;
      }
      .horizontal_line hr{
        position:absolute;
        bottom:104px;
      }
      #table_id_info{
        left: 10px;
        position: absolute;
        top: 476px;
        font-weight:bold;
      }
      #table_id_length{
        display:none;
      }
       #table_id_paginate{
        display:none;
      }
      #num{ display:none; }
      #char{ display:none; }
      #report{
        left: 2%;
        position: absolute;
        width: 1504px;
      }


    #number {
    width:20%;
    margin:10px;
    background:white;
    -moz-user-select:none;
  }

  #number a {
          border-radius: 7px;
          background-color: #669999;
          border-bottom: 1px outset black;
          border-style: outset;
          border-top: 1px outset black;
          color: white;
          display: block;
          padding: 10px 16px 10px 10px;
          text-align: center;
          text-decoration: none;
  }


    #gender_distribution{
      text-align: center;
      font-size: 14pt;
    }
    #age_groups{
      text-align: center;
      font-size: 14pt;
    }
    #display_only{
    color: black;
    text-align: center;
    background-color: #E0E0E0;
    }
    </style>
  </head>
  <body >
    <%= image_tag(@logo, :class => "logo")%>
    <br /><b style="margin-left:75px">Kamuzu Central Hospital</b><br />
     <b style="position:relative; top:0px;margin-left:75px">ADT Report</b><br />
     <b style="position:relative; top:0px;margin-left:75px">Start Date: <%=@start_date.strftime("%d-%m-%Y")%> </b><br />
     <b style="position:relative; top:0px;margin-left:75px">End Date: <%=@end_date.strftime("%d-%m-%Y")%></b><br />
<%#= raise (@end_date ).inspect %><br /><br />

<div style="overflow:auto; height: 60%; position: absolute; left: 0%; width: 98%">
     <table id="report" style="width: 96%">
       <tr>
         <td style="background-color: #9ACD32; font-size: 14pt;">Total Admissions</td>
         <td id="number"><%= link_to((@total_admissions.count), {
            :action=>"decompose_report",
            :ids =>@total_admissions_ids,
            :report_name => "Total Admissions"})
          %>
         </td>
       </tr>
       <tr style="background-color: gray">
         <td id="gender_distribution" colspan="2" style="line-height: 46px; color: white; font-weight: bold" ><span>Admissions By Gender</span></td>
       </tr>
       <tr>
         <td style="background-color: #F5F5F5; font-size: 14pt;">Males</td>
         <td id="number"><%= link_to((@total_admissions_males.count), {
              :action=>"decompose_report",
              :ids =>@total_admissions_males_ids,
              :report_name => "Males Total Admissions"})  %></td>
       </tr>
       <tr>
         <td  style="background-color: #F5F5F5; font-size: 14pt;">Females</td>
         <td id="number"><%=link_to((@total_admissions_females.count), {
            :action=>"decompose_report",
            :ids =>@total_admissions_females_ids,
            :report_name => "Females Total Admissions"}) %></td>
       </tr>
       <tr style="background-color: gray">
         <td id="age_groups" colspan="2" style="line-height: 46px; color: white; font-weight: bold">Admissions By Age Groups</td>
       </tr>
       <tr>
         <td  style="background-color: #F5F5F5; font-size: 14pt;">Infants(0-2)
       </td>
         <td id="number"><%= link_to((@total_admissions_infants.count), {
            :action=>"decompose_report",
            :ids => @total_admissions_infants_ids,
            :report_name => "Infants Total Admissions"}) %></td>
       </tr>
       <tr>
         <td  style="background-color: #F5F5F5; font-size: 14pt;">Children(2-14)</td>
         <td id="number"><%= link_to((@total_admissions_children.count), {
            :action=>"decompose_report",
            :ids =>"",
            :report_name => "Children Total Admissions"}) %></td>
       </tr>
       <tr>
         <td  style="background-color: #F5F5F5; font-size: 14pt;">Adults (>14)</td>
         <td id="number"><%= link_to((@total_admissions_adults.count), {
            :action=>"decompose_report",
            :ids =>@total_admissions_adults_ids,
            :report_name => "Adults Total Admissions"}) %></td>
       </tr>
       <tr style="background-color: gray">
         <td id="gender_distribution" colspan="2" style="line-height: 46px; color: white; font-weight: bold" ><span>Admissions By Ward</span></td>
       </tr>
        <% @admission_by_ward.each do |key, value| %>
          <tr>
             <td  style="background-color: #F5F5F5; font-size: 14pt;"><%= key.to_s.squish %></td>
             <td id="number"><%= link_to((value["count"]), {
                :action=>"decompose_report",
                :ids => value["patient_ids"],
                :report_name => "Admissions By Ward(#{key.to_s.squish})"}) %></td>
          </tr>
        <%  end %>
          <tr>
            <td colspan="2" style="background-color: #9ACD32; font-size: 14pt; line-height: 2em;">Case Morbidity</td>
          </tr>
          <tr style="background-color: gray">
         <td id="gender_distribution" colspan="2" style="line-height: 46px; color: white; font-weight: bold" ><span>Admission Diagnosis</span></td>
       </tr>
        <% @admission_diagnoses.each do |key, value| %>
          <tr>
             <td  style="background-color: #F5F5F5; font-size: 14pt;"><%= key.squish %></td>
             <td id="number"><%= link_to((value["count"]), {
                :action=>"decompose_report",
                :ids => value["patient_ids"],
                :report_name => "Admissions By Diagnosis(#{key.squish})"}) %></td>
          </tr>
        <%  end %>
      <tr style="background-color: gray">
         <td id="gender_distribution" colspan="2" style="line-height: 46px; color: white; font-weight: bold" ><span>Discharge Diagnosis</span></td>
       </tr>
        <% @discharge_diagnoses.each do |key, value| %>
          <tr>
             <td  style="background-color: #F5F5F5; font-size: 14pt;"><%= key.squish %></td>
             <td id="number"><%= link_to((value["count"]), {
                :action=>"decompose_report",
                :ids => value["patient_ids"],
                :report_name => "Discharge Diagnosis(#{key.squish})"}) %></td>
          </tr>
        <%  end %>


       <tr style="background-color: gray">
         <td id="gender_distribution" colspan="2" style="line-height: 46px; color: white; font-weight: bold" ><span>Admission Diagnosis By Ward</span></td>
       </tr>
        <% @total_admission_diagnosis_by_ward.each do |key, value| %>
         <tr>
          <td  style="background-color: #CDB5CD; font-size: 14pt;" colspan="2" "><%= key.squish %></td>
         </tr>
          <%
            diagnosis = 0
            total = 1
          %>
         <% value.each do |details| %>
            <tr>
              <td><%= details[diagnosis] %></td>
              <td id="number"><%= link_to((details[total]), {
                :action=>"decompose_report",
                :patient_ids => "#{@ward_patients_diagnosis[key][details[diagnosis]].split(',')}",
                :report_name => "#{key.squish}(#{details[diagnosis]})"})  %></td>
            </tr>
         <% end %>
        <%  end %>


         <tr style="background-color: gray">
         <td id="gender_distribution" colspan="2" style="line-height: 46px; color: white; font-weight: bold" ><span>Discharge Diagnosis By Ward</span></td>
       </tr>
        <% @total_discharge_diagnosis_by_ward.each do |key, value| %>
         <tr>
          <td  style="background-color: #CDB5CD; font-size: 14pt;" colspan="2" ><%= key.squish %></td>
         </tr>
          <%
            diagnosis = 0
            total = 1
          %>
         <% value.each do |details| %>
            <tr>
              <td><%= details[diagnosis] %></td>
              <td id="number"><%= link_to((details[total]), {
                :action=>"decompose_report",
                :patient_ids => "#{@ward_patients_discharge_diagnosis[key][details[diagnosis]].split(',')}",
                :report_name => "#{key.squish}(#{details[diagnosis]})"})  %></td>
            </tr>
         <% end %>

        <%  end %>

        <tr>
            <td colspan="2" style="background-color: #9ACD32; font-size: 14pt; line-height: 2em;">Outcomes</td>
          </tr>
        <% @patient_states.each do |key, value| %>
          <tr>
             <td  style="background-color: #F5F5F5; font-size: 14pt;"><%= key.squish %></td>
             <td id="number"><%= link_to((value["count"]), {
                :action=>"decompose_report",
                :ids => value["patient_ids"],
                :report_name => "Patient Outcomes(#{key.squish})"}) %></td>
          </tr>
        <%  end %>

          <tr>
            <td colspan="2" style="background-color: #9ACD32; font-size: 14pt; line-height: 2em;">Admission Indicators</td>
          </tr>
 
          <tr>
             <td  style="background-color: #F5F5F5; font-size: 14pt;">Bed Occupancy Ratio</td>
             <td id="display_only"><%= @bed_occupacy_ratio %></td>
          </tr>
          <tr>
             <td  style="background-color: #F5F5F5; font-size: 14pt;">Hospital Bed Turnover Rate</td>
             <td id="display_only"><%= @turn_over_rate %></td>
          </tr>
          <tr>
             <td  style="background-color: #F5F5F5; font-size: 14pt;">Death Rate</td>
             <td id="display_only"><%= @total_died["Patient died"]["count"].to_s rescue 0%></td>
          </tr>
           <tr>
             <td  style="background-color: #F5F5F5; font-size: 14pt;">Average Length of stay</td>
             <td id="display_only"><%= @average_length_of_stay.to_s + " days" %></td>
          </tr>
     </table>
</div>
     <div class="horizontal_line">
      <hr width="100%" color="gray"/>
    </div>
    <div id="keypad">
      <span class="keypad">
      </span>

  </div>
<script>
  function setPosition(){
    finish = document.getElementById('finishButton')
    finish.style.position = 'absolute'
    finish.style.left = '0%'
  }
  setTimeout("setPosition()",10);
</script>
</body>
</html>
