<script>
    var tt_cancel_destination = "/clinic";
</script>

<style>
		.options { height: 506px; }
</style>


<form method = 'post' action = "/user/change_role/<%=@user.user_id%>">
  <%= select_tag 'user[activities][]',
      options_for_select(@role, @user_roles),
      :helpText => "Assign role(s) to #{@user.username.humanize}",
      :multiple =>  true %>
</form>
