<html>
  <head>
    <title>Patient Programs Dashboard</title>
    <script type="text/javascript" language="javascript"
    src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  ></script>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <script language="javascript">
      tstUsername = "";
      tstCurrentDate = "<%= @date %>";
      tt_cancel_show = '/patients/show/<%= @patient.id %>';

      var message = '<%= params[:error] rescue "" %>';
  
    </script>
  </head>
  <body><div id='content'>
      <div id='description' style='color:#777;position:absolute;margin-top:-70px;'></div><center>
        <form id = 'dashboard' action='/clinic'>

          <% unless flash[:notice].nil? %>
            <p id="flash_notice" style="color: green"><%= flash[:notice] %></p>
          <% end %>
          <% unless flash[:error].nil? %>
            <p id="flash_error" style="color: red"><%= flash[:error] %></p>
          <% end %>
            
          <table cellpadding=10>
            <tr>
              <th colspan=2>Patient Programs Dashboard</th>
            </tr>
            <h1 id='project_name'>
              IPD
            </h1>

            <span id='patient_name'><%= @patient_bean.name rescue "" %></span>
            <span id='patient_id'><%= @patient_bean.national_id_with_dashes rescue "" %></span>
            <span id='patient_residence'><%= @patient_bean.current_residence rescue "" %></span>
            <span id='patient_age'><%= @patient_bean.age rescue "" %></span>
            <span id='patient_gender'><%= @patient_bean.sex rescue "" %></span>

            <div id="patient_card">
              <% if (@hiv_status rescue nil) != nil && (@hiv_status) != "" %>
						    <span value="<%= @hiv_status rescue "" %>">HIV Status</span>
					    <% end %>
            </div>
            <select id="tabs">
              <option value='/patients/programs?patient_id=<%= @patient.id %>'>Outcomes</option>
            </select>
            <select id="links">
              <option value="">Discharge Patient</option>
              <option value="">Admission History</option>
            </select>
            <tr>
              <td align='center'>
                <input type='submit' value='Finish' />
              </td>
            </tr>
          </table>
        </form>
      </center>
    </div>
  </body>
</html>
