<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag 'utils' %>


<form action="" method='post'>
<%= select_tag 'wards', options_for_select(@kch_wards),
      {:id => 'transfer_out_location_id',
       :field_type => 'alpha',
       :helpText => "Select Ward",
     } %>

 <%= text_field "ward_number" , nil, {
   :field_type => "number",
   :tt_pageStyleClass => "Numeric NumbersOnly",
   :helpText => 'Number of Beds'}%>

  <%= submit_tag "Finish" %>
</form>
