<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag 'utils' %>

<form action="/clinic/remove_teams" method='post'>
<%= select_tag 'team_name', options_for_select(@kch_teams),
      {
      :id => 'teams'
      :helpText => "Select team to be removed",
     } %>

  <%= submit_tag "Finish" %>
</form>
